<div class="gallery">
	<ul></ul>
</div>

<!-- Modal Window -->
<div id="galleryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Montenegro 2012</h3>
  </div>
  <div class="modal-body">
	<img src="/public/images/IMG_6061.JPG"/>
  </div>
  <div class="modal-footer">
  	<span>Photo 1 of 5</span>
    <button class="btn prev">Previous</button>
    <button class="btn next">Next</button>
  </div>
</div>